extends ../../layouts/course-layout

include ../../mixins/post-featured

block content
	section.jr-hero
		.contain
			.video__featured--bg.animated.fadeIn
			.video__featured--overlay
				.video__featured--content
					h6.white.mb-half 匠人课程
					h1.white UI Design UI设计
					p.legible.center.white.hidden-xs-down 职业UI设计师
					p.legible.center.white.hidden-xs-down 2个月UI设计入门班
					p.legible.center.white.hidden-xs-down 理论基础 + 项目实战 + 项目实战
					p.legible.center.white 墨尔本 + 线上直播
	section.jr-overview
		.contain
			ul.row.col-sm-12.col-md-12.col-12
				li.col-md-3.col-sm-3.col-6
					h6 难度
					h5 入门
				li.col-md-3.col-sm-3.col-6
					h6 学习时间
					h5 1月28日开班
					p.x-small 两个月
				li.col-md-3.col-sm-3.col-12
					h6 课程价格
					h5 早鸟价：$1950
					p.x-small 原价$2300
	section.jr-partners
		.contain
			h6.text-center 这些企业信任我们
			ul.jr-partners__list
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Aurion-logo-1.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/logo-ladbrokes-color1.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/suncorp.jpg", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Allianz.svg.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/flight-center.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/abcdata.png", alt="匠人partner")
	section.jr-why
		.contain.text-center.row
			.jr-why__description.col-12.col-sm-12.col-md-9
				h2 为什么选择IT匠人的UI设计入门班?
				p 匠人推出的UI设计入门班旨在帮助学员在两个月的时间内从理论而实践全面提升能力，从0到1的学会网站设计、案例分析以及工具软件使用并进行实战练习设计等。
				h4 课程目标
				ul
					li 了解澳洲UI行业背景，职业前景和职业发展方向
					li 累计1年以上的商业项目经验，在简历上完胜普通设计毕业生
					li 学员了解UI工作者在Agile团队体验
			.jr-why__stat.col-12.col-sm-12.col-md-3
				.card.card-border-top.hidden-md-down
					p 匠人推出的UI设计入门课程组由UQ设计大神导师设计教学，能够有效帮助学员在两个月的时间内从理论到实践全面提升能力，为学员以后的自学提升及求职就业之路打下坚实基础。

