extends ../../layouts/default

block content
	.container-fluid.no-padding
		div.page-intro.services-page-pag.black-bg.featured-section-expanded
			h1.page-title 404
			div.bg-wrapper
				.video-bg
		section.page-content
			.container.container.text-bg.no-padding
				div.padding
					p.lead.text-center Sorry, the page you requested can't be found.
				div.padding.text-center
				
