extends ../layouts/default

//- INCLUDES

include ../mixins/post-featured

block content
	.container-fluid.no-padding
		div.page-intro.services-page-pag.black-bg.featured-section-expanded
			h1.page-title Backend培训基础班
			p.lead Reactjs + Nodejs + .net + MVC + C# + REST API + Agile + 面试和简历
			p.lead 墨尔本
			a.btn.btn-primary(href="https://ozitquan.typeform.com/to/q5iXKP")
				strong 报名
			div.bg-wrapper
				.video-bg
		section.page-content
			.container.text-bg.no-padding
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/services/services-3.jpg" alt="services-3")
					.col-sm-6.no-margin
						.pane-text-wrapper
							h2.intro-title 全栈工程师
							p 全栈工程师，也叫全端工程师（Full Stack developer）是指同时具备前端和后台能力能独立完成产品的人。前端工程师要熟悉HTML, JavaScript，CSS熟练掌握Angular JS等前端框架同时协调设计师将网站呈现。而后端工程师的职责则是协调网站背后有服务器网络、数据库以及各种应用，他们相互协作将你所请求的网页与数据传递，需要擅长使用各种编程语言及各种数据库的操作如MySQL、SQL Server等。全栈工程师作为了解Web开发进程每一方面的人，能够调动最佳策略。
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.no-margin
						.pane-text-wrapper
							h2.intro-title 我们的目标
							p 匠人推出的全栈软件工程师直通车项目旨在帮助学员在三个月的时间内从内而外全面提升能力，达到市场上对Full-Stack Engineer的招聘需求。课程组由一线资深工程师组成，在三个月的时间内将带领学员体验工业界的实战经验全方位提升能力。课程将从多角度，多方位带领学员从理论到实战，从基础到拓展。
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/bgs/vr.jpg" alt="services-3")
		div.page-intro.services-page-pag.featured-section-expanded.theme-bg.page-sub-intro
			h2.page-title 我们的课程安排
			div.bg-wrapper
		section.page-content
			.container.text-bg.no-padding
				.row.display-flex.padding-10.grad-showcase-wrapper.flex-column-s
					.flex-1
						.text-left
							p
								strong 课程时长: 
								| 12 周
							p
								strong 每周课时: 
								| 6小时/周
					.flex-1
						.text-left
							p
								strong 地点: 
								| Level 3 / 57 Coronation Drive, Brisbane
							p
								strong 语言: 
								| 中文
					.flex-1
						.text-left
							p
								strong 价格(有Recording): 
								| 原价 $4500，Early Bird(线下) $3500 / (线上) $2000
							p
								strong 开始时间: 
								| 2017年九月17日
				.row
					h3.mentor-title.text-center 我们的导师
				.row.display-flex.padding-10.grad-showcase-wrapper.flex-column-s
					.flex-1
						.text-left
							h4
								strong Billy Lei 
							p.padding 香港中文大学毕业，拥有8年工作经验，已经开发了超过20款Apps/Web project. 也受邀参加苹果WWDC开发者大会，赢得了昆州2015年GovHack，现在在某世界著名咨询公司做Consultant，对前后端相当熟悉，经验丰富，自己的传奇经历也为大家来解读澳洲
					.flex-1
						.text-left
							h4
								strong Larry Ding 
							p.padding 曾经在国际著名公司Ericsson任Team Lead，也在IRESS做过全栈Full Stack Engineer，现任一家欧洲创业公司做CTO，拥有十多年的经验，对前后端的熟悉也会为大家带来全方位的解读。
					.flex-1
						.text-left
							h4
								strong Lightman Wang
							p.padding 毕业于昆士兰大学，曾供职于微软公司。专注于前端领域多年，同时也是UI设计师，连续创业者， IT 匠人 创始人，目前热衷于帮助求职者找工作，帮助学生职业规划
					.flex-1
							.text-left
								h4
									strong Capsen Lu
								p.padding 毕业于昆士兰科技大学，从事于IT行业15余年，微软认证网页开发解决方案工程师，云架构师， 现在国际顶级咨询公司担任高级顾问，在金融，医疗，矿产及政府有丰富的项目开发经验。在敏捷agile开发方面有丰富的经验和独特的见解。
				.row.display-flex.padding-10.grad-showcase-wrapper
					.flex-1.text-align-center
						img(src="/images/services/react.svg" alt="Craftsman Academy service react")
					.flex-1.text-align-center
						img(src="/images/services/node.svg" alt="Craftsman Academy service node")
					.flex-1.text-align-center
						img(src="/images/services/net.svg" alt="Craftsman Academy service net")
					.flex-1.text-align-center
						img(src="/images/services/api.svg" alt="Craftsman Academy service api")
					.flex-1.text-align-center
						img(src="/images/services/html.svg" alt="Craftsman Academy service html")
					.flex-1.text-align-center
						img(src="/images/services/sass.svg" alt="Craftsman Academy service sass")
					.flex-1.text-align-center
						img(src="/images/services/css.svg" alt="Craftsman Academy service svg")
					.flex-1.text-align-center
						img(src="/images/services/aws.svg" alt="Craftsman Academy service aws")
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/bgs/air.jpg" alt="services-3")
					.col-sm-6.no-margin
						.pane-text-wrapper
							h2.intro-title WHAT YOU'LL LEARN
							p 了解如何在一个沉浸式的，基于项目，工作导向的课程中专业地编写和设计Web和移动应用程序。这个12周的兼职课程将初学者转化为入门级全栈Web开发人员。当您学习使用基本的编程语言（如HTML, Javascript, ECMAscript 6，CSS，JavaScript），团队协作（Agile，Bitbucket， Jira，Bamboo），新兴技术（如.Net，Node.js，Express.js，React.JS，SPA，RESTAPI）以及云端技术（AWS EC2，S3），我们将引导您完成这一改变，改变自己的生活。不仅您将获得成为有竞争力的软件工程师所需的工具，还提供职业咨询和资源，以帮助确保下一个巨大的机会。. If you’re looking for a rigorous level of study that can help change your career, this is the class for you!
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.text-bg.no-margin
						.pane-text-wrapper
							h2.intro-title Front End Development
							p 前端开发是为网站或Web应用程序生成HTML，CSS和JavaScript的做法，以便用户可以直接查看和交互。与前端开发相关的挑战是用于创建网站前端的工具和技术不断变化，因此开发人员需要不断了解该领域的发展。
							ul
								li CSS
								li HTML
								li Javascript
								li ES6
								li Jquery
								li Sass
								li React.js
								li Redux
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/services/services-2.png" alt="services-2")
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/bgs/42.jpg" alt=" service web design background")
					.col-sm-6.text-bg.no-margin
						.pane-text-wrapper
							h2.intro-title Back End Development
							p 构建网站或Web应用程序的核心计算逻辑。这包括与数据库或第三方集成的交互，以及确保数据的完整性。
							h3.bold Collaborate Teamwork
							ul
								li APIS
								li Database Theory
								li Node.js
								li React Router
								li .Net
								li MVC
								li C#
					
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.no-margin
						.pane-text-wrapper
							h2.intro-title Cloud
							p 使用Amazon Web Services (AWS) 来部署和优化网站
							ul
								li AWS ec2
								li AWS s3
								li AWS Lambda
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/bgs/air.jpg"  alt="service list")
					
				.row.col-sm-12.no-padding.no-margin
					.col-sm-6.no-padding.no-margin
						.pane-image-wrapper
							img(src="/images/services/services-1.png"  alt="service list")
					.col-sm-6.no-margin
						.pane-text-wrapper
							h2.intro-title 开发工具
							p 开发人员和设计人员可以使用的其他应用程序或软件来提高网站的生产力或功能。
							ul
								li Command Line
								li Git
								li Github
								li Bitbuket
								li Bamboo
								li Jira
			div.page-intro.services-page-pag.featured-section-expanded.theme-bg.page-sub-intro
				h2.page-title Syllabus
				div.bg-wrapper
			section.page-content
				.container.text-bg.no-padding
					.row.padding-10.grad-showcase-wrapper.padding-l-20p.padding-r-20p
						h3.text-center 第一阶段：Web基础与Agile训练
						p 通过对Web技术的介绍，Browser的一些原理，初步掌握web技术，对web技术有一个全局的认识。把Agile引入到了培训中，通过分成AB两组的形式，组间对战，每个组员也可以感受到Agile对于团队管理的魅力。每次课程的standup，项目分sprint进行，git 的代码协同管理，jira的agile团队管理，让学生真正了解到工业界，公司的员工是如何工作的。
						p 除此以外，学习HTML，CSS3，JS和jquery的基础知识，根据我们设计的专业网站，完成培训的第一个online项目。
						h3.text-center 第二阶段：后端技术.Net 和MVC
						p 通过学习C#，了解。Net，和MVC框架。学习数据层，业务逻辑层，已经API，学习后端技术。除此以外，我们也会在这一阶段，安排模拟面试，建立修改等
						h3.text-center 第三阶段：前端技术
						p 通过学习Nodejs，了解js的神奇之处。学习 - 前端最火的三大框架之一 Reactjs，理解 Modern web development ，体验Single Page Application（SPA），前后端分离技术，前端性能优化等。这一阶段也最终会deliver一个commercial的management system。增色简历，也同样很好的练手
						h3.text-center 第四阶段：AWS部署与项目展示
						p 最后学习AWS相关的云技术，部署网站到AWS ec2 中，学习static website，和AWS s3 文件操作系统。
						p 最后的学生作品展示，通过三个月的Agile实践和bitbucket的代码管理，学员也养成了标准的澳洲公司开发流程和模式。达到毕业时已经有了相关的工作经验的目的
			.container.text-bg.no-padding.no-margin-top
				.row.col-sm-12.padding.no-margin
					h3.text-center
						strong FAQ
					.padding-l-20p.padding-r-20p
						h4
							strong 问：本期课程适合什么程度的学生去学呢
						p IT的初学者，并不了解Web开发的流程和技术，但是稍微懂点IT知识，比如知道变量，知道for循环等。如果你是想了解澳洲最popular的技术，并且也想在澳洲或者国内找到比较好的工作的话，如果你想从小白变成大牛的话，那这门课绝对适合你
						h4
							strong 问：该培训有哪些技能以及该培训的形式是什么呢？
						p 目前培训的技能有编程语言（如HTML, Javascript, ECMAscript 6，CSS，JavaScript），团队协作（Agile，Bitbucket， Jira，Bamboo），新兴技术（如.Net，Node.js，Express.js，React.JS，SPA，RESTAPI）以及云端技术（AWS EC2，S3） 根据与Modern Web Development的主流做法编排的课程，也是澳洲工作或者国内未来的web开发方式，前端采用SPA(Single Page Application) 通过API与后端（Backend）交互。
						p 培训的形式采用课堂授课与动手实践相结合，并且学生采用AB分组的形式，模拟真实澳洲企业上班工作，Agile管理方式，让学生体验“真实的”澳洲工作环境和团队协作。除此以外，也有IT的求职就业导向的培训，通过学生的实战，最后学生会deliver一个高标准的企业project，放到简历中，帮助求职
						h4
							strong 问：培训的过程中是否有人指导，有没有一些项目可以参与？
						p 在培训过程中，我们是有有经验的导师来做指导，下课也有导师可以做咨询，都是行业里的大牛。大牛求真，少走弯路
						p 除了课程中需要完成的两个项目外，我们也会推荐真实的商业项目参与其中，获取更多的宝贵经验，尽可能的做到，在培训过程中尽可能的获得商业经验，达到可以直接上手工作的目的
						h4
							strong 问：上课的课时有多少，一周的讲课时间多少，费用怎么样
						p 此期培训的课时有72个小时（三个月），每周两次的课，每次课有3个小时，时间会暂定在周三晚上和周日下午，不过课时的安排我们也会尽力的与导师和学生的时间安排作出调整。
						p 我们目前原价是$4500的课，但是Early Bird价格（现在价格）$3500, 同时也会给出超值的bonus（>$500）， 绝对超值

						h4
							strong 问：完成培训后，会有机会参与一些实习吗
						p 我们会在培训结束后，提供至少三个实习岗位，从学生中选取实习生。虽然我们不能保证学生的工作，但是我们为学生提供职业资源和培训是有竞争力的。我们当然希望培训完后可以直接找到至少是Junior 级别的developer岗位，而不是实习生。
						h4
							strong 问：$3500澳币价格好贵啊
						p 其实价格并不算贵。因为是小班授课，相比国内来讲，国内单语言（比如C##）培训就2w人民币以上了。如果澳洲本地的培训，价格都超过了1w澳币。
						p 我们希望同学通过这三个月的bootcamp，最终会deliver两个商业项目，对求职非常有利。除此以外求职面试技巧+简历修改，也是独家推出。Agile 融入到项目中，在课堂里模拟出真实工作中的环境，澳洲工作环境怎么样，daily standup怎么进行，agile是在工作中如何运用的。Scrum会贯穿项目始终。整体体验独特
