

doctype html
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
			
		title= 'React + Redux - JWT Authentication Example & Tutoria' 
		//- link(href="/styles/site.css", rel="stylesheet")
		link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		block css
		block head

	//- HTML BODY
	body
		.container
			div#smartBook

		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js')
		script(src='/js/bootstrap/bootstrap.min.js')
		script(src='/js/ui.js')
		
		script(src='/apps.bundle.js')

		block js

