.meetup-wrapper {
	width: 100%;
}
.jr-meetup {
	position: relative;
	&:before {
		content: '';
		width: 100%;
		height: 600px;
		z-index: -1000;
		background: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
		transform-origin: left bottom;
		position: absolute;
		top: 36%;
		left: 0;
		-webkit-transform: skew(0deg, -15deg);
		-moz-transform: skew(0deg, -15deg);
		-ms-transform: skew(0deg, -15deg);
		-o-transform: skew(0deg, -15deg);
		transform: skew(0deg, -15deg);
	}
	.jr-meetup__cards {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		overflow: hidden;
		.cards_contain {
			max-width: 73.75rem;
			margin-left: auto;
			margin-right: auto;
			.jr-meetup__card {
				float: left;
				display: block;
				margin-right: 1.6949152542%;
				width: 100%;
				margin-top: 0;
				margin-bottom: 1.5rem;
				display: block;
				position: relative;
				background: #fff;
				box-shadow: 0px 1px 20px 0px rgba(46,61,73,0.2);
				border-radius: 0.375rem;
				.jr-meetup__header {
					height: 20.25rem;
					border-radius: 0.375rem;
					@include MQ(S) {
						height: 13rem;
					}
					&__image {
						background: center center/cover no-repeat;
						height: 20.25rem;
						display: block;
						width: 33.8983050847%;
						border-bottom-left-radius: 0.375rem;
						border-top-left-radius: 0.375rem;
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
						float: right;
					}
					&__content {
						padding: 72px 3.75rem 0;
						height: 20.25rem;
						@include MQ(S) {
							height: 13rem;
						}
						>p {
							overflow: hidden;
							text-overflow: ellipsis;
							margin-bottom: 0;
						}
						h1 {
							font-weight: 300;
							font-size: 24px;
						}
						h6 {
							margin-top: 0;
							margin-bottom: 0.375rem;
							position: absolute;
							left: 0;
							top: 0.75rem;
							color: #fff;
							line-height: 1.75rem;
							text-indent: 1.5rem;
							padding-right: 0.75rem;
							background-image: linear-gradient(to right, #02b3e4 0%, #02ccba 100%);
							&:after {
								position: absolute;
								content: '';
								top: 0;
								width: 0;
								height: 0;
								right: -1rem;
								border-style: solid;
								-webkit-transform: rotate(360deg);
								border-width: 1.75rem 1rem 0 0;
								border-color: #02ccba transparent transparent transparent;
							}
						}
						&--details {
							border-top: 1px solid #dbe2e8;
							width: calc(100% - 120px);
							height: 3.75rem;
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							display: flex;
							margin: 0 auto;
							align-items: center;
							justify-content: space-between;
						}
						&--button-hover {
							@include MQ(S) {
								position: fixed;
								bottom: 10px;
								z-index: 2;
								left: 0;
								right: 0;
								margin: 0 auto;
							}
						}
					}
				}
				.jr-meetup__main {
					min-height: 1.5rem;
					box-shadow: inset 0 1.25rem 1.25rem -1.25rem rgba(46,61,73,0.2);
					&__content {
						padding: 3.75rem;
						h2 {
							font-size: 20px;
							margin-bottom: 15px;
							font-weight: 500;
						}
						@include MQ(S) {
							padding: 1.5rem;
							ul {
								padding-left: 1em;
							}
						}
						img {
							width: 100%;
						}
						img {
							@include MQ(S) {
								width:100%;
							}
						}
						.tutor-wrapper{ 
							margin-top: 70px;
							.jr-instructors__card {
								max-width: 475px;
								margin: 0 auto;
								box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
								&:hover {
									box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2)
								}
							}
						}
					}
				}
				.jr-meetup__main__content--parts{
					ul {
						li {
							width: 100%;
							position: relative;
							border-left: 1px solid #dbe2e8;
							list-style-type: none;
							&:after {
								position: absolute;
								top: 0;
								left: 0;
								content: '';
								width: 0.5rem;
								height: 0.5rem;
								border-radius: 50%;
								background-color: #02b3e4;
								transform: translateX(-50%);
							}
							.part {
								height: 15rem;
								width: 100%;
								bottom: 0.75rem;
								position: relative;
								padding-left: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}



