.pagination{
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem;
	text-align: center;
	justify-content: center;
	li {
		margin: 13px;
		&.active{
			background-color: $theme-color;
			border-radius: 15px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			a{
				color:white;
			}
		}

	}
}
