.tag-container{
	@include display(flex);
	@include flex-wrap(wrap);
	.tag {
		font-size: 12px;
		font-weight: 300;
		color: #0272b2;
		line-height: 24px;
		height: 24px;
		padding: 6px 12px;
		background: #cfeffd;
		display: inline-block;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 6px 6px 0 0;
	}
	&--orange{
		.tag{
			background: #ff7361;
			color: white;
		}
	}
}
