mixin meetup-tree
	div
		if !pastMeetups.length
			h3.text-muted There are no meetups yet.
		.timeline
			.timeline-path
			.timeline-item--offset
			each meetup, i in pastMeetups
				.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
					.timeline-item-node
					a.timeline-item-inner(href='/events/' + meetup.key)
						h6.text-caps.text-danger= meetup._.startDate.format('YYYY - MMMM ')
						h4= meetup.name
						!=utils.cropString( utils.htmlToText(meetup.description), 240, '...', true )
