mixin mentor-company
	section.jr-partners
		.contain
			h2.text-center 我们的导师来自
			ul.jr-partners__list
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/google-jiangrne-logo.png", alt="匠人partner google")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/aws-logo.png", alt="匠人partner aws")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/amazon-jiangrne-logo.png", alt="匠人partner amazon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/microsoft.png", alt="匠人partner microsoft")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/facebook.png", alt="匠人partner facebook")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/atlassian-logo.png", alt="匠人partner atlassian")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/nasdaq.png", alt="匠人partner nasdaq")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/myob.png", alt="匠人partner myob")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/cambridge.png", alt="匠人partner cambridge")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/mit.png", alt="匠人partner MIT")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/unimel.png", alt="匠人partner university of melbourne")
				//- li
					//- img.jr-partners__list--icon.lazyload(data-src="/images/partners/University-of-Queensland-UQ-logo.png", alt="匠人partner university of queensland")
				//- li
					//- img.jr-partners__list--icon.lazyload(data-src="/images/partners/unsw.png", alt="匠人partner unsw ")
				//- li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/QUT-logo.png", alt="匠人partner qut")
				//- li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/university_sydney.png", alt="匠人partner sydney")
				//- li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/monash-1.png", alt="匠人partner moash")
				//- li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/rmit.png", alt="匠人partner rmit")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/thoughtworks.png", alt="匠人partner thoughtworks")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/anz.png", alt="匠人partner anz")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/commonwealth.jpg", alt="匠人partner commonwealth")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/rea-group.jpg", alt="匠人partner rea")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/sap.jpg", alt="匠人partner sap")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/telstra_logo.png", alt="匠人partner telstra")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/woolworths.jpg", alt="匠人partner woolworths")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/suncorp.jpg", alt="匠人partner suncorp")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/westpac.png", alt="匠人partner westpac")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/dominos.png", alt="匠人partner dominos")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/pwc.png", alt="匠人partner pwc")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/deloitte.jpg", alt="匠人partner deloitte")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/accen.jpg", alt="匠人partner accenture")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/avanade.png", alt="匠人partner avanade")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/cognizant.png", alt="匠人partner cognizant")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/ebay.jpg", alt="匠人partner ebay")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/alibaba.png", alt="匠人partner 阿里巴巴")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/tsinghua.jpg", alt="匠人partner 清华")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/peking.jpg", alt="匠人partner 北大")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/IressLogo.png", alt="匠人partner Iress")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/ey.png", alt="匠人partner EY")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/baidu.png", alt="匠人partner baidu ")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/nab.jpg", alt="匠人partner nab ")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/siteminder.png", alt="匠人partner nab ")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/canva.png", alt="匠人partner canva")
				//- li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/griffith.png", alt="匠人partner griffith")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/rokt.png", alt="匠人partner rokt")