mixin partnership
	section.jr-partners
		.contain
			h6.text-center 合作机构
				ul.jr-partners__list
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/qiniuyun.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/yunxiang.jpeg", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/abcdata.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/arc.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/Navitas-logo-March-2016.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/ribit-black-social.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/qujianji.jpg", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/dorabot.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/linpos.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/savr.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/SDCE.png", alt="匠人partner")
					li
						img.jr-partners__list--icon.lazyload(data-src="/images/partners/qad.jpg", alt="匠人partner")
			h6.text-center 我们的课程经过下面的企业认可
			ul.jr-partners__list
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/aws-logo.png", alt="匠人partner aws")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/amazon-jiangrne-logo.png", alt="匠人partner amazon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/microsoft.png", alt="匠人partner microsoft")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/accen.jpg", alt="匠人partner accenture")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/suncorp.jpg", alt="匠人partner suncorp")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/pwc.png", alt="匠人partner pwc")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/myob.png", alt="匠人partner myob")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/aliyun.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/rea-group.jpg", alt="匠人partner rea")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/data61-logo.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Aurion-logo-1.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/avanade.png", alt="匠人partner avanade")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/healthshare.png", alt="匠人partner avanade")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/logo-ladbrokes-color1.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/suncorp.jpg", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Allianz.svg.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/flight-center.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/University-of-Queensland-UQ-logo.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/vivacity.jpeg", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/GMIC_logo.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Fishburners.jpg", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/acic.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/QUT-logo.png", alt="匠人partner")
