mixin pre-footer
	#pre-footer.continue
		ul.container
			li.forum
				a(href="http://jiangren.cloud") IT匠人论坛
				p 澳洲最大的IT专业论坛，赶快去交流吧
			li.blog
				a(href="/blog") 新闻 & 资源
				p 澳洲IT新闻，IT匠人新闻，精彩干货，求职招聘
