mixin testimonial
	section.section.section-testimonials
		.container-fluid
			.row
				.col-md-8.offset-md-2.text-center
					h2.title Trusted by 232,000+ People
					h5.description The UI Kits, Templates and Dashboards that we've created are used by 
			.row
				.col-md-2
				.col-md-6.offset-1
				.col-md-2.offset-1