mixin tutorials-summary
    section.jr-tutorials-summary
        .contain.jr-tutorials-summary__container
            .row
                .col-12.col-sm-6.jr-tutorials-summary__description
                    .row.jr-tutorials-summary__description-header
                        h2 匠人毕业的学员
                    .row.jr-tutorials-summary__description-figure
                        .col-4
                            h3 200+
                            h4 学员
                        .col-4
                            h3 3K+
                            h4 小时
                        .col-4
                            h3 100+
                            h4 HD得分
                    .row.jr-tutorials-summary__description-detail
                        p 自匠人成立以来，我们旨在帮助那些处在迷茫当中的学生，以及想要快速成长为一名优秀的IT从业人员(不仅仅限于IT专业)，我们不会花言巧语，我们只用数据说话。
                    .row.jr-tutorials-summary__description-button.white
                        a.outline-btn(href="/application") 快速报名
                .col-12.col-sm-6.jr-tutorials-summary__picture
                    img(src="images/temp/tutorial-description-pic1.svg" alt="加载中...")
                //- .col-12.col-sm-6.jr-tutorials-summary__picture
                //-     img(src="images/temp/tutorial-description-pic2.svg" alt="加载中...")