mixin tutorial-skills
	section.jr-partners
		.contain
			h3.text-center 提高GPA 拒绝挂科
			h6.text-center 我们可以辅导
			ul.jr-partners__list
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-html
					p.text-center HTML
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-css
					p.text-center CSS
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-javascript
					p.text-center Javascript
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/python.jpeg", alt="IT辅导 Python")
					p.text-center Python
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-java_logo
					p.text-center Java
				li.display-flex.flex-column 
					.jr-partners__list--icon.ico.ico-ai-and-machine-learning
					p.text-center Machine Learning
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/algorithm.svg", alt="IT辅导 algorithm")
					p.text-center Algorithm
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/ArtificialIntelligence.svg", alt="IT辅导 ArtificialIntelligence")
					p.text-center Artificial Intelligence
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-database-theory
					p.text-center Database
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/math.svg", alt="IT辅导 math")
					p.text-center Discrete mathematics
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-sketch
					p.text-center UI Design
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-user-scenarios
					p.text-center User Experience
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/swift.svg", alt="IT辅导 Swift")
					p.text-center Swift
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/mongodb.svg", alt="IT辅导 mongodb")
					p.text-center Mongodb
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/mysql.svg", alt="IT辅导 mysql")
					p.text-center Mysql
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-c-programming-569564
					p.text-center C Programming
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/php.svg", alt="IT辅导 PHP")
					p.text-center PHP
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/cloud-computing.svg", alt="IT辅导 cloud-computing")
					p.text-center Cloud Computing
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-power-bi
					p.text-center Power BI
				li.display-flex.flex-column 
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/r-lang.jpeg", alt="IT辅导 R language")
					p.text-center R language
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/android.svg", alt="IT辅导 android")
					p.text-center Android
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/data-mining.svg", alt="IT辅导 data-mining")
					p.text-center Data Mining
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/excel.svg", alt="IT辅导 Excel")
					p.text-center Excel
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/api.svg", alt="IT辅导 Api")
					p.text-center Api
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-c-programming-language-500x500
					p.text-center C++ 
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-csharp
					p.text-center C#
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/dotnet-logo.jpg", alt="IT辅导 .Net")
					p.text-center .Net
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/tensorflow.jpg", alt="IT辅导 Tensoflow")
					p.text-center Tensoflow
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/if_search_3380378.svg", alt="IT辅导 Search")
					p.text-center Search
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/network.svg", alt="IT辅导 Network Engineer")
					p.text-center Network Engineer
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/cisco.svg", alt="IT辅导 Cisco")
					p.text-center Cisco
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/security.svg", alt="IT辅导 Cyber Security")
					p.text-center Cyber Security
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/linux.svg", alt="IT辅导 linux")
					p.text-center Linux
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-react
					p.text-center Reactjs
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-sass
					p.text-center Sass
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-node-js
					p.text-center Nodejs
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/angular.svg", alt="IT辅导 Angular")
					p.text-center Angular
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/complie.svg", alt="IT辅导 Computer Systems Principles")
					p.text-center Computer Systems
			p.text-center 我们也针对所有大学开设了新生群课程群方便交流互动