mixin what-you-get
	section#services.section.section-services
		.wrap
			.inner
				.container
					h2.section-title HERE'S WHAT YOU GET
					p.section-subtitle
						| There are many places to learn to code, but none offer an experience like .
						br
						|  the New York Code + Design Academy
			.service-list
				.container
					.row
						.col-sm-12.services-wrapper
							.col-sm-4.col-12
								div.card-img-holder
									img(src='/images/interaction.svg' alt="universapp inteaction design")
								h3 Dedicated Outcome Teams
								p In our Intensive workshops, you will work with our Outcomes Team to identify job opportunities, sharpen your soft skills, and prepare for the job search process. Through our Career Services Curriculum and 1-on-1 mentoring, you'll get professional exposure to the tech industry, in the classroom and beyond.
							.col-sm-4.col-12
								div.card-img-holder
									img(src='/images/mobile.svg' alt="universapp  Application Development")
								h3 Community of Teachers and Learners
								p Developers and designers work in teams, so we teach in teams. With our community based approach to learning, we will challenge you to push yourself further than ever before, with a support system to help you along the way. 
									
							.col-sm-4.col-12
								div.card-img-holder
									img(src='/images/product-strategy.svg' alt="universapp Product Strategy")
								h3 澳洲工作机会
								p All great ideas need to be nurtured. Early collaboration, feature planning, and research help transform napkin sketches into powerful ideas.
