mixin who-trusts-us
	.h2.section-title Who Trusts Us
	.partership-wrapper
		.row.partners-wrapper
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/ribit.png", alt="ribit")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/csiro.png", alt="csiro")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/data61.png", alt="data61")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/gmic.png", alt="gmic")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/aliyun.png", alt="aliyun")
			//- .img-wrapper.col-sm-2.col-6
				//- img(src="./images/partners/ptestudy.png", alt="ptestudy")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/navitas.png", alt="navitas")
		.row.partners-wrapper
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/xinrui.png", alt="xinrui")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/createworks.png", alt="createworks")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/tenetlegal.png", alt="tenetlegal")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/nutbit.png", alt="nutbit")
			.img-wrapper.col-sm-2.col-6
				img.lazyload(data-src="./images/partners/google.png", alt="google_partners")
