mixin why-choose-mentor
	section.jr-why
		.contain.text-center.row
			//- img(src="https://d125fmws0bore1.cloudfront.net/assets/pages/ndop/nd001/image-laptop@1x-e0453c763ea5449882c8db6988b1bec11edcc93cca14c1ccdba29eb425727dbd.png", alt="Front-End Developer")
			.jr-why__description.col-12.col-sm-12.col-md-9
				h2 澳洲大学辅导培训课程
				p 大神的学习笔记，大神的考试秘笈，大神的独特学习方法，通通都拿去！
				p 此外，匠人还发布了“大神奖学计划”，凡是你是均分HD（90%）IT大神，并且有激情去帮助更多的学生提高学业，IT匠人愿意提供这样一个平台，来帮助更多的同学提高学业。也希望自己是单科HD以上的同学，有想法做Tutor的朋友，加入匠人
				p
					strong 为什么选择匠人的IT辅导课程？
				ul
					li 匠人臻选多门课HD大神（成绩90%+）做tutor，同时又有专业职场老司机做顾问，无论问题深或浅，都有大神相助
					li 任职tutor了解你的课程考试作业与项目全部，都是该课以及相关课7分大神
					li 匠人多种优惠活动帮你节约成本，同时也为学习好的同学提供舞台
					li 可以根据学生情况灵活制定课程内容与时间
			.jr-why__stat.col-12.col-sm-12.col-md-3
				.card.card-border-top.hidden-md-down.tut-why
					h4.light 匠人严选HD大神
					p.text-left 零基础转IT，课程跟不上怎么办？
					p.text-left 英语不够好，上课听不懂怎么办？
					p.text-left 代码不会写怎么办？
					p.text-left 考试通不过怎么办？
					p.text-left 技能不够，做项目没思路怎么办？