mixin web-bootcamp-skills
	section.jr-partners
		.contain
			h3.text-center Web全栈班技能树
			h4.text-center 掌握中国和澳洲就业核心技能
			ul.jr-partners__list
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-html
					p.text-center HTML
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-css
					p.text-center CSS
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-sass
					p.text-center Sass
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-flexbox
					p.text-center Flexbox
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-bootstrap
					p.text-center bootstrap
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-javascript
					p.text-center Javascript
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-es6
					p.text-center ES6
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-ts
					p.text-center Typescript
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/algorithm.svg", alt="algorithm")
					p.text-center Algorithm
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-database-theory
					p.text-center Database
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-sketch
					p.text-center UI Design
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/mongodb.svg", alt="mongodb")
					p.text-center Mongodb
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/mysql.svg", alt="mysql")
					p.text-center Mysql
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/aws.svg", alt="aws")
					p.text-center AWS
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/api.svg", alt="Api")
					p.text-center REST API
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-csharp
					p.text-center C#
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/dotnet-logo.jpg", alt=".Net")
					p.text-center .Net
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-node-js
					p.text-center Nodejs
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-express
					p.text-center Expressjs
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-react
					p.text-center Reactjs
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-redux
					p.text-center Redux
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-redux-saga
					p.text-center Redux Saga
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/jwt.svg", alt="jwt")
					p.text-center JWT
				li.display-flex.flex-column
					.jr-partners__list--icon.ico.ico-oauth-2-sm
					p.text-center OAuth
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/git.svg", alt="git")
					p.text-center Git
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/agile.svg", alt="git")
					p.text-center Agile
				li.display-flex.flex-column
					img.jr-partners__list--icon.lazyload(data-src="/images/icons/angular.svg", alt="Angular")
					p.text-center Angular(Coming Soon)