mixin student-company
	section.jr-partners
		.contain
			h6.text-center 这些企业信任我们学生
			ul.jr-partners__list
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Aurion-logo-1.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/logo-ladbrokes-color1.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/abcdata.png", alt="匠人partner")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/myob.png", alt="匠人partner myob")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/anz.png", alt="匠人partner anz")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/commonwealth.jpg", alt="匠人partner commonwealth")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/telstra_logo.png", alt="匠人partner telstra")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/fusport.png", alt="匠人partner fusport")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/suncorp.jpg", alt="匠人partner suncorp")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/westpac.png", alt="匠人partner westpac")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/pwc.png", alt="匠人partner pwc")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/deloitte.jpg", alt="匠人partner deloitte")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/accen.jpg", alt="匠人partner accenture")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/cognizant.png", alt="匠人partner cognizant")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/savr.png", alt="匠人partner savr")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/zerologix.png", alt="匠人partner zerologix")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Topcon.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/thrivase.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/mnfgroup.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/marketing_cube.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/leelou.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/leapdev.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/healthshare.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/healthlogic.jpeg", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/gna_logo.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/digital8.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/clinictocloud.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/Blockchain-Global.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/bitcoincandy.png", alt="匠人partner Topcon")
				li
					img.jr-partners__list--icon.lazyload(data-src="/images/partners/AIIMS.png", alt="匠人partner Topcon")